*{
	margin : 0;
	padding: 0;
}
.wrapper{
	width: 455px;
	height: 500px;
	background: rgba(221, 221, 221, 0.9);
	margin : 0 auto;
	padding: 20px;
	position: relative;
	top: 100px;
	border: 2px solid #aaa;
	border-radius: 5px;
}
.wrapper #consoleBox{
	width: 455px;
	height: 120px;
	//border: 1px solid red;
}
.wrapper #consoleBox input{
	border: 1px solid #bbb;
	border-radius: 5px;
	outline: none;
	position:absolute;
	text-align: right;
	right: 25px;
	width: 300px;
	cursor: default;
}
.wrapper #consoleBox .C_ing{
	top: 20px;
	font-size: 30px;
	line-height: 40px;
	height: 40px;
}
.wrapper #consoleBox .C_fin{
	top: 75px;
	font-size: 50px;
	line-height: 60px;
	height: 60px;
}
.wrapper #numberBox, #operateBox, #toolsBox{
	display: inline-block;
	float: left;
	height: 350px;
	margin-top: 20px;
}
.wrapper #numberBox{
	width: 250px;
}
.wrapper #numberBox div, #operateBox div, #toolsBox div{
	display: inline-block;
	user-select: none;
	width: 60px;
	height: 70px;
	line-height: 70px;
	font-size: 30px;
	text-align: center;
	margin: 10px 0 0 10px;
	border: 2px solid #bbb;
}
.wrapper .down{
	background-color: #eee;
	opacity: 0.9;
}
.wrapper #operateBox {
	width: 80px;
	margin-left: 20px;
}
.wrapper #toolsBox{
	width: 80px;
	margin-left: 20px;
}